<ion-content>
  <ion-grid class="about_container ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2>About</h2>
      </ion-col>
      <ion-col size="12" class="box__spacer-1"></ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="12">
            <p>Phytophil is an application that gives information regarding the plants common name, 
              scientific name, pharmacologic activity, plant part used and utilization. </p>
          </ion-col>
          <ion-col size="12">
            <p>
              DISCLAIMER :
              The information in this application is only to help people get information 
              easier about the plants benefit to the health and is not intended to provide diagnosis, 
              treatment or medical advice.
            </p>
          </ion-col>
          <ion-col size="12">
            <p>
              Information and other content provided, including information that may be provided directly or by linking to third-party 
              websites: stuartxchange, databases: Science Direct, Google Scholar, SciFinder and PubMed and other sources such 
              as PITACH are provided for informational purposes only. 
            </p>
          </ion-col>
          <ion-col size="12">
            <p>
              Please consult with a physician or other healthcare professional regarding any medical or health related diagnosis or treatment options. 
              Never disregard professional medical advice or delay in seeking it because of something you have read on this application. 
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>