<ion-grid class="group-details_container ion-no-margin ion-no-padding">
  <ion-row>
    <ion-col size="12" class="box__spacer-2"></ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-img [src]="'assets/images/logo.png'"></ion-img>
    </ion-col>
    <ion-col size="12" class="box__spacer-2"></ion-col>
    <ion-col size="12">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <h1>PHYTOPHIL</h1>
        </ion-col>
        <ion-col size="12">
          <h2>Medicinal Plants in the Philippines based on its Pharmacological Assay</h2>
        </ion-col>
        <ion-col size="12" class="box__spacer-2"></ion-col>
        <ion-col size="12">
          <h4>Desiree E. Adona</h4>
        </ion-col>
        <ion-col size="12">
          <h4>Mary Kale R. Ambeguia</h4>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>