<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="backToFunctionPage()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{title | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="content__container">
  <ion-item *ngFor="let plant of pharmacologicalActivity" button (click)="viewPlantDetails(plant)">
    <ion-label>
      {{plant}}
    </ion-label>
  </ion-item>
</ion-content>